.dropdown {
    position: relative;
    width: 100%;
}

.dropdown-button {
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    width: 100%;
    cursor: pointer;
}

.dropdown-button svg {
    width: 1rem;
    height: 1rem;
    opacity: 0.5;
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
    background: white;
    border-radius: 0.75rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 0.25rem;
    z-index: 50;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.75rem;
    padding-left: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem;
}

.dropdown-item:hover {
    background-color: #fde68a;
}

.dropdown-item.selected {
    font-weight: 500;
}

.check {
    width: 1rem;
}