.footer{
    margin-top: auto;
}
.footer-container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.footer-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.footer-copyright p{
    font-size: .875rem;
    line-height: 1.25rem;
    color: hsl(240 4% 46%);
    margin: 0;
}
.footer-navigation{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .5rem;
}