.header {
    z-index: 40;
    top: 0;
    position: sticky;
    backdrop-filter: blur(4px);
    width: 100%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
}

.logo-nav{
    display: flex;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
}
.logo-nav svg{
    color: hsl(345 85% 60%);
}
.logo-text{
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.navigation-links{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.navigation-button{
    font-weight: 500;
    text-decoration: none;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.8rem;
    color: hsl(220 9% 23%);
}
.navigation-button:hover{
    background-color: hsl(45 93% 68%);
    transition-duration: .15s;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}