.toolbar-header{
    text-align: center;
    margin-bottom: 3rem;
    
}
.toolbar-header h1{
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    margin: 0;
    margin-bottom: .5rem;
}
.toolbar-header p{
    color: hsl(240 4% 46%);
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0;
}