*,
*::before,
*::after {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}

body {
    margin: 0;
    font-family: PT Sans, sans-serif;
    line-height: inherit;
    background-color: hsl(240 10% 98%);
}
    
button {
    font: inherit;
}
a {
    text-decoration: none;
    color: hsl(220 9% 23%);
    font-size: .875rem;
    line-height: 1.25rem;
}